/*Стили для главного блока*/
.promo {
  margin-bottom: 80px;

  p {
    margin-bottom: 262px;
    @media screen and (max-width: 992px) {
      margin-bottom: 285px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
      text-align: center;
      margin-right: 0;
      display: block;
    }

  }

  h1 {

    span {
      color: #FFA239;
    }

    @media screen and (max-width: 768px) {
      text-align: center;
      margin-right: 0;
      margin-bottom: 20px;
      display: block;
    }
  }


  .promo-bg {
    height: 628px;
    background: url("../../public/bg.png") center no-repeat;
    background-size: contain;
    @media screen and (max-width: 992px) {
      height: 670px;
    }
    @media screen and (max-width: 768px) {
      background: none;
      height: auto;
    }

    .promo-bg-md {
      display: none;
      width: 100%;
      @media screen and (max-width: 768px) {
        display: block;
        margin-bottom: 20px;
      }
    }
  }

  .promo__list li {
    display: flex;
    align-items: baseline;
    gap: 12px;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

}
